<p>patient-component app</p>
<div>
<input type="text" [(ngModel)]="splitYear" ><button (click)="splitPatientList()" type="button" class="btn btn-primary">Change Split List</button>
<mat-radio-group (change)="changePatientList()"  [(ngModel)]="selectedListSort">
    <mat-radio-button value="0">Regular List</mat-radio-button>
    <mat-radio-button value="1">Older Years List</mat-radio-button>
    <mat-radio-button value="2">Newer Years List</mat-radio-button>
</mat-radio-group>
</div>

<br><br>
<div class="row" style="font-weight: bolder;">
    <div class="col-3">
        <label for="pId">Filter By Id: </label> <input type="text" id="pId" [(ngModel)]="txtId">
    </div>
    <div class="col-3">
        <label for="pName">Filter By Name: </label> <input type="text" id="pName" [(ngModel)]="txtName">
    </div>
    <div class="col-3">
        <label for="pDOB">Filter By DOB: </label><input type="text" id="pDOB" [(ngModel)]="txtDOB">
    </div>
    <div class="col-3">
        <label for="pEmail">Filter By Email: </label><input type="text" id="pEmail" [(ngModel)]="txtEmail">
    </div>
</div>
<br>
<button (click)="filterData()" type="button" class="btn btn-primary">Apply Filters</button><span>&nbsp;&nbsp;&nbsp;</span><button (click)="reset()" type="button" class="btn btn-primary">Reset Data</button>
<br><br>
<div class="row" style="font-weight: bolder;">
    <div class="col-3">ID</div>
    <div class="col-3">Full Name</div>
    <div class="col-3">Date Of Birth</div>
    <div class="col-3">Email</div>
</div>
<div class="row" *ngFor="let patient of patientList" >
    <div class="col-3">{{patient.Id}}</div>
    <div class="col-3">{{patient.FirstName + " " + patient.LastName}}</div>
    <div class="col-3">{{patient.DOB}}</div>
    <div class="col-3">{{patient.Email}}</div>
</div>